<div class="container">
  <nav class="navbar">
    <div class="text-center">
      <h4>Forgot your password?</h4>
    </div>
  </nav>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <div class="card-form">
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email", required: true, class:("input-auth") %>
      </div>
    </div>
    <div class="text-center">
      <div class="actions">
        <%= f.submit "Send me reset password instructions", class:("btn btn-primary") %>
      </div>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
