<div class="container">
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <nav class="navbar">
      <div class="row">
        <div class="col-md-3 text-white">
          <%= link_to '', root_path, class:("bi bi-arrow-left text-white") %>
        </div>
        <div class="col-md-3">LOGIN</div>
        <div class="col-md-3"><%= f.submit "Log in", class:("btn-login") %></div>
      </div>
    </nav>
    <div class="card-form">
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email", class:("input-auth") %>
      </div>
      <hr>
      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "password", class:("input-auth") %>
      </div>
    </div>
    <div class="text-center">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
    
</div>
